Package: traqtor
Version: 1.1-1
Architecture: all
Maintainer: Mohsen Nezammolmolki <thelight.mn@gmail.com>
Installed-Size: 34868
Depends: tractor (>= 2.2-0~)
Section: net
Priority: optional
Multi-Arch: foreign
Homepage: <insert the upstream URL, if relevant>
Description: Settings app for Tractor
 This package is a graphical settings for tractor
 which is an app using Python stem to provide
 a connection through the onion proxy and sets up
 proxy in user session, so you don't have to mess
 up with TOR on your system anymore.
