[Desktop Entry]
Version=1.0
Name=traqtor
Name[fa]=تراکتور
Comment=Settings for Tractor
Comment[fa]==تنظیمات تراکتور
Type=Application
Keywords=Tor;Tractor;traqtor
Exec=traqtor
Terminal=false
Icon=traqtor.svg
Categories=Network;
